.cart .abasket span {
	display:inline-block; 
	padding:5px;
	background-color:rgba(70, 136, 71, 0.8);
	color:white;
	transition: 0.3s;
}
.cart .abasket:hover span {
	background-color:rgba(70, 136, 71, 1);
}

.cart .abasket.selected span {
	background-color: rgba(247, 102, 44, 0.8);
	color:white;
}
.cart .abasket.selected:hover span {
	background-color: rgba(247, 102, 44, 1);
}